proxmox_api_url = "адресс к апишке прокса"
proxmox_api_token_id = "сервисный аккаунт через @"
proxmox_api_token_secret = "токен к севисному аккаунту"
ci_user = "пользователь для вм"
ci_pass = "пароль пользователя"

